<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Recipes with Angular.js - Displaying a Loading Spinner</title>
    <meta keywords="javascript, js, angular.js, angularjs, recipes with angular.js, recipes with angularjs, best practices, cookbook, tutorial, book">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/application-64ae7a41d6f726f185cec00ea0549071.css">
  </head>
    <body ng-app="RecipesApp">

        <div class="contain-to-grid">
          <nav class="top-bar">
            <ul class="title-area">
              <li class="name">
                <h1><a href="http://fdietz.github.io/recipes-with-angular-js">Recipes with Angular.js <img src="../assets/AngularJS-Shield-small-0395a23b65050a4d4cc0febd3bbb93f0.png" alt="" width="36" height="36"></a>  </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="displaying-a-loading-spinner.html#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
              <ul class="left">
                <li><a href="../toc.html">Table of Contents</a></li>
                <li><a href="../about.html">About</a></li>
              </ul>

            </section>
          </nav>
        </div>

      <div class="row">
        <div class="large-12 columns">
          <ul class="breadcrumbs">
  <li><a href="http://fdietz.github.io/recipes-with-angular-js">Home</a></li>
  <li><a href="../common-user-interface-patterns.1">common-user-interface-patterns</a></li>
  <li class="current">Displaying a Loading Spinner</li>
</ul>

<div class="recipe-actions">
  
</div>

<h2>Displaying a Loading Spinner</h2>

<h3 id="problem">Problem</h3>

<p>You wish to display a loading spinner while waiting for an AJAX request to be finished.</p>

<h3 id="solution">Solution</h3>

<p>We will use the Twitter search API for our example to render a list of search results. When pressing the button the AJAX request is run and the spinner image should be shown until the request is done.</p>
<div>
  <pre data-line=''><code class='language-markup'>&lt;body ng-app=&quot;MyApp&quot; ng-controller=&quot;MyCtrl&quot;&gt;

  &lt;div&gt;
    &lt;button class=&quot;btn&quot; ng-click=&quot;load()&quot;&gt;Load Tweets&lt;/button&gt;
    &lt;img id=&quot;spinner&quot; ng-src=&quot;img/spinner.gif&quot; style=&quot;display:none;&quot;&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;ul ng-repeat=&quot;tweet in tweets&quot;&gt;
      &lt;li&gt;
        &lt;img ng-src=&quot;{{tweet.profile_image_url}}&quot; alt=&quot;&quot;&gt;
        &amp;nbsp; {{tweet.from_user}}
        {{tweet.text}}
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;

&lt;/body&gt;</code></pre>
</div>
<p>An Angular.js interceptor for all AJAX calls is used, which allows you to execute code before the actual request is started and when it is finished.</p>
<div>
  <pre data-line=''><code class='language-javascript'>var app = angular.module(&quot;MyApp&quot;, [&quot;ngResource&quot;]);

app.config(function ($httpProvider) {
  $httpProvider.responseInterceptors.push(&#39;myHttpInterceptor&#39;);

  var spinnerFunction = function spinnerFunction(data, headersGetter) {
    $(&quot;#spinner&quot;).show();
    return data;
  };

  $httpProvider.defaults.transformRequest.push(spinnerFunction);
});

app.factory(&#39;myHttpInterceptor&#39;, function ($q, $window) {
  return function (promise) {
    return promise.then(function (response) {
      $(&quot;#spinner&quot;).hide();
      return response;
    }, function (response) {
      $(&quot;#spinner&quot;).hide();
      return $q.reject(response);
    });
  };
});</code></pre>
</div>
<p>Note that we use jQuery to show the spinner in the configuration step and hide the spinner in the interceptor.</p>

<p>Additionally we use a controller to handle the button click and execute the search request.</p>
<div>
  <pre data-line=''><code class='language-javascript'>app.controller(&quot;MyCtrl&quot;, function($scope, $resource, $rootScope) {

  $scope.resultsPerPage = 5;
  $scope.page = 1;
  $scope.searchTerm = &quot;angularjs&quot;;

  $scope.twitter = $resource(&#39;http://search.twitter.com/search.json&#39;,
    { callback:&#39;JSON_CALLBACK&#39;,
      page: $scope.page,
      rpp: $scope.resultsPerPage,
      q: $scope.searchTerm },
    { get: { method:&#39;JSONP&#39; } });

  $scope.load = function() {
    $scope.twitter.get(function(data) {
      $scope.tweets = data.results;
    });
  };
});</code></pre>
</div>
<p>Don’t forget to add <code>ngResource</code> to the module and load it via script tag.</p>

<p>You can find the complete example on <a href="https://github.com/fdietz/recipes-with-angular-js-examples/tree/master/chapter8/recipe8">github</a>.</p>

<h3 id="discussion">Discussion</h3>

<p>The template is the easy part of this recipe since it renders a list of tweets using the <code>ng-repeat</code> directive. Let us jump straight to the interceptor code.</p>

<p>The interceptor is implemented using the factory method and attaches itself to the promise function of the AJAX response to hide the spinner on success or failure. Note that on failure we use the <code>reject</code> function of the <a href="http://docs.angularjs.org/api/ng.$q">$q</a> service, Angular’s promise/deferred implementation.</p>

<p>Now, in the <code>config</code> method we add our inceptor to the list of responseInterceptors of <code>$httpProvider</code> to register it properly. In a similar manner we add the <code>spinnerFunction</code> to the default <code>transformRequest</code> list in order to call it before each AJAX request.</p>

<p>The controller is responsible for using a <code>$resource</code> object and handling the button click with the <code>load</code> function. We are using JSONP here to allow this code to be executed locally even though it is served by a different domain.</p>

<div class="panel radius similar-pages">
  <h4>Similar Recipes</h4>
  <ul>
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
        <li>
          <a href="displaying-a-flash-notice-failure-message.html">Displaying a Flash Notice/Failure Message</a>
        </li>
      
    
      
        <li>
          <a href="displaying-a-loading-spinner.html">Displaying a Loading Spinner</a>
        </li>
      
    
      
        <li>
          <a href="displaying-a-modal-dialog.html">Displaying a Modal Dialog</a>
        </li>
      
    
      
        <li>
          <a href="editing-text-in-place-using-html5-content-editable.html">Editing Text In-Place using HTML5 ContentEditable</a>
        </li>
      
    
      
        <li>
          <a href="filtering-and-sorting-a-list.html">Filtering and Sorting a List</a>
        </li>
      
    
      
    
      
        <li>
          <a href="paginating-through-client-side-data.html">Paginating Through Client-Side Data</a>
        </li>
      
    
      
        <li>
          <a href="paginating-through-server-side-data.html">Paginating Through Server-Side Data</a>
        </li>
      
    
      
        <li>
          <a href="paginating-using-infinite-results.html">Paginating Using Infinite Results</a>
        </li>
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
  </ul>
</div>

        </div>
      </div>

      <footer class="row">
        <div class="large-12 columns">
          <hr>
          <div class="row">
            <div class="large-6 columns">
              <p>
                Maintained by <a href="http://fdietz.de">Frederik Dietz</a>
              </p>
            </div>

            <div class="large-6 columns text-right">
              <p>All content licensed with <a href="http://creativecommons.org/">Creative Commons</a></p>
            </div>
          </div>
        </div>
      </footer>

      <script src="../assets/application-0baff5f0e43111ed2b7cbc8b8b523b9f.js"></script>
      <script>
        $(document).foundation();
      </script>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42557266-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

      <script type="text/javascript">
        $(function() {
          $('#search-query').lunrSearch({
            indexUrl: '/recipes-with-angular-js/search.json',
            results:  '#search-results',
            entries:  '.entries',
            template: '#search-results-template'
          });
        });
      </script>
    </body>
</html>
