@import "_patterns/_patterns.scss";
@import "lib/semantic.css"
$base-color:	rgba(189, 22, 22, .22);
html{width:	100%; height: 100%;}
body{
	position: relative;
	margin:0;padding:0;
			color:#fff;
			font-family:arial;
			text-shadow:0 2px 2px #000;
			width:	100%;
			height:	100%;
			background:top left no-repeat;
	background-color:	white;
	background-image:url('../resources/images/background.jpg');

	.top-bar{
		position:   fixed;
		top:		22px;
		left:		5.5%;
		@include	glass-shadow;
		@include	glass-color($base-color);
		@include	border-radius(22px);
			width:	89%;
			height:	89px;
			cursor:move;
			z-indes:	100;
}
.main-content{
		position:	 fixed;
		top:		 133px;
		bottom: 	 22px;
		width:	 	 100%;
		

		background-color:	$base-color;
		z-indes:	22;
}
.sales-panel{
	position: absolute;
	left: 	  0%;
	top: 	  0;
	width:	  60%;
	height:   100%;
}
.tools-panel{
	position: absolute;
	right: 	  0%;
	top: 	  0;
	width:	  40%;
	height:   100%;
}
.footer{
	position:	 fixed;
	bottom:		 0;
	height:		 22px;
	width: 		 89%;
}

}