<!--
Project Name: Power Glass.
Developer: Mohammed Matar.
Email: jmatar-sd@hotmail.com.
website: http://jmatar.com.
License: Apatche 2.0 { simply you can do anything u want with me Dude !}.
Publish Date: 2015-01-01.
-->
<section id=	"tools-pane">
	<div  ng-include= "'views/tools-components/menubar.html    '" ><span class=""></span></div>
	<div  ng-include= "'views/tools-components/control.html    '" ></div>
	<div  ng-include= "'views/tools-components/interactive.html'"></div>
	<div  ng-include= "'views/tools-components/barcode.html    '"></div>
</section>
