
<!--
    <span class="icon icon-home"></span>
    <span class="icon icon-diagram"></span>
    <span class="icon icon-group"></span>
    <span class="icon icon-settings"></span>
    <span class="icon icon-exit"></span>-->
<div class="table-container">
<table class="ui celled striped table table-pane">
  <thead>
    <tr><th  id="thead">
      Value ( PSD )
    </th>
    <th  id="thead">
      Price( USD )
    </th>
    <th  id="thead">
      Quantity
    </th>
    <th  id="thead">
      Product Name 
    </th>
    <th class="right aligned" id="thead">
      Order NO.
    </th>
  </tr></thead><tbody>
    
    <tr>
      <td>
        <i class="file outline icon"></i> Gruntfile.js
      </td>
      <td>Comment</td>
      <td>Comment</td><td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>

    <tr>
      <td>
        <i class="file outline icon"></i> Gruntfile.js
      </td>
      <td>Comment</td>
      <td>Comment</td><td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>

    <tr>
      <td>
        <i class="file outline icon"></i> Gruntfile.js
      </td>
      <td>Comment</td>
      <td>Comment</td><td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>

    <tr>
      <td>
        <i class="file outline icon"></i> Gruntfile.js
      </td>
      <td>Comment</td>
      <td>Comment</td><td>Comment</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
  </tbody>
</table>
</div>