	
	//not ready yet for use 
	@mixin box-shadow($left, $top, $right, $bottom, $color, $style){
		-webkit-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
	-moz-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
	box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
	}
	